div {
    border:1px solid #000;
}

@media (max-width:575px) {
    

    /*Telas de Celular pequeno*/
    body {
        background-color: #00ffff;
    }
    .boxes {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:10px;
        flex-wrap: wrap;
    }
    .box {
        width: 100%;
    }

    .col-xs-12 {
        width: 575px;
    }

    .col-xs-6 {
        width: 287px;
    }

    .col-xs-4 {
        width: 192px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    body {
        background-color:rgb(118, 105, 255);
    }

    .boxes { /* 518px até 690px -*/
        width: 90%;
        min-width: 550px;
        margin: auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:10px;
        flex-wrap: wrap;
    }
    .box {
        width: 48%;
    }
    .box:last-child {
        width: 98%;
    }

    .col-md-12 {
        width: 760px;
    }

    .col-md-6 {
        width: 380px;
    }

    .col-md-4 {
        width: 253px;
    }

    
}

@media (min-width: 768px) {
    body {
        background-color: #ccc1c3;
    }

    .boxes {
        width: 90%;
        min-width: 750px;
        margin: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .box {
        width: 250px;
    }
    .col-lg-12 {
        width: 780px;
    }

    .col-lg-6 {
        width: 390px;
    }

    .col-lg-4 {
        width: 260px;
    }
}